* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #34312d;
}

.principal {
    height: 75px;
    position: relative;
}

.principal__logo {
    height: 50px;
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}

.principal__titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-left: 95px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #d9c5b2;
}

.menusuperior {
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: flex-end;
    column-gap: 15px;
    align-items: center;
    margin-right: 25px;

}

ul li {
    list-style-type: none;
}

ul li a {
    font-family: Arial, Helvetica, sans-serif;
    color: #d9c5b2;
    text-decoration: none;
}

/* .background {
    background-color: #d9c5b2;
    margin: 0;
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 10px;
    padding: 10px;
} */

.background {
    background-color: #d9c5b2;
    margin: 0px;
    width: 100%;
    height: calc(100vh - 75px);
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 10px;
    padding: 10px;
}

.mainmedia {
    display: none;
}

.micro {
    transition: box-shadow 0.3s ease;
    background-color: #7e7f83;
    overflow: auto;
    border-radius: 10px;
    height: calc(100vh - 95px);
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.micro:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.micro__logo {
    height: 75px;
    padding: 5px;
}

.chalogo {
    clip-path: url(./assets/images/logos/cha-logo.PNG) circle(75px);
}

.micro__nombre {
    font-family: Arial, Helvetica, sans-serif;
    color: #34312d;
    margin-top: 25px;
}

.micro__portada {
    width: 100%;
}

.micro__subtitulo {
    font-family: Arial, Helvetica, sans-serif;
    color: #34312d;
    margin: 5px;
}

.micro__intro {
    font-family: Arial, Helvetica, sans-serif;
    color: #34312d;
    margin: 5px;
}

.micro__redes {
    height: 25px;
    margin-left: 10px;
}

footer {
    background-color: #34312d;
}

.inferior {
    height: 75px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 10px;
    align-items: center;
    margin-right: 25px;
}

.inferior__logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    height: 30px;
}

.inferior__texto {
    color: #d9c5b2;
    font-family: Arial, Helvetica, sans-serif;
}

.inferior__email {
    color: #d9c5b2;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.redes {
    width: 30px;
}

.historia {
    background-color: #7e7f83;
    font-family: Arial, Helvetica, sans-serif;
    color: #34312d;
    height: 200px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.equipo {
    background-color: #d9c5b2;
    font-family: Arial, Helvetica, sans-serif;
    color: #34312d;
    height: calc(100vh - 75px);
    width: 100%;
}

#equipo__titulo {
    margin-left: 10px;
    text-align: center;
}

.equipo__miembro {
    transition: box-shadow 0.3s ease;
    background-color: #7e7f83;
    border-radius: 10px;
    height: calc(100vh - 350px);
}

#background__trabajos {
    background-color: #d9c5b2;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.trabajos {
    background-color: #7e7f83;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #34312d;
    flex-direction: column;
    justify-content: space-evenly;
}

.trabajos__imagen {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.trabajos__titulo {
    margin: 10px;
}

.trabajos__abstract {
    margin: 10px;
}

#background__productos {
    background-color: #d9c5b2;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.productos {
    background-color: #7e7f83;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #34312d;
    flex-direction: column;
    justify-content: space-evenly;

}

.productos__imagen {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.productos__titulo {
    margin: 10px;
}

.productos__descripcion {
    margin: 10px;
}

.productos__precio {
    margin: 10px;
}

.productos__boton {
    margin: 10px;
    background-color: #34312d;
    color: #d9c5b2;
    height: 20px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#background__contacto {
    background-color: #d9c5b2;
    margin: 0;
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form__title {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    color: #34312d;
}

form {
    background-color: #7e7f83;
    height: 400px;
    width: 750px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #34312d;
}

.form__boton {
    background-color: #34312d;
    color: #d9c5b2;
    height: 20px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 320px) {
    .menusuperior {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        font-size: small;
    }
    .background {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        row-gap: 10px;
        height: auto;
    }
    .micro {
        height: auto;
    }
    .inferior {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        height: 200px;
        font-size: small;
    }
    .equipo {
        height: auto;
        padding-top: 10px;
    }
    /* .equipo__miembro {
        width: calc(100vw / 2);
        height: calc(100vh - 325px);
        display: inline-block;
        border-radius: 10px;
        margin-top: 5px;
        margin-left: 2.5px;
        margin-right: 2.5px;
        position: relative;
        left: 50%;
        transform: translateX(-100%);
        bottom: 0px;
        overflow: auto;
    } */
    #background__trabajos {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    #background__productos {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }
    #background__contacto {
        background-color: #d9c5b2;
        margin: 0;
        width: 100%;
        height: calc(100vh - 75px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    form {
        height: 500px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .menusuperior {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        font-size: small;
    }
    .background {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        row-gap: 10px;
        height: auto;
    }
    .micro {
        height: auto;
    }
    .inferior {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        height: 200px;
        font-size: small;
    }
    /* .equipo {
        height: auto;
        padding-top: 10px;
    } */
    /* .equipo__miembro {
        width: calc(100vw / 3);
        height: calc(100vh - 325px);
        display: inline-block;
        border-radius: 10px;
        margin-top: 5px;
        margin-left: 2.5px;
        margin-right: 2.5px;
        position: relative;
        left: 50%;
        transform: translateX(-100%);
        bottom: 0px;
        overflow: auto;
    } */
    #background__trabajos {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    #background__productos {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
    #background__contacto {
        background-color: #d9c5b2;
        margin: 0;
        width: 100%;
        height: calc(100vh - 75px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    form {
        height: 450px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}