* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #34312d;
}

.principal {
  height: 75px;
  position: relative;
}

.principal__logo {
  height: 50px;
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.principal__titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-left: 95px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #d9c5b2;
}

.menusuperior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 75px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

ul li {
  list-style-type: none;
}

ul li a {
  font-family: Arial, Helvetica, sans-serif;
  color: #d9c5b2;
  text-decoration: none;
}

.background, .equipo {
  background-color: #d9c5b2;
  width: 100%;
  height: auto;
  padding: 0.5rem;
}

.mainmedia {
  display: none;
}

.micro {
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  background-color: #7e7f83;
  overflow: auto;
  border-radius: 10px;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.micro:hover {
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.micro__logo {
  height: 75px;
  padding: 5px;
}

.chalogo {
  -webkit-clip-path: url(./assets/images/logos/cha-logo.PNG) circle(75px);
          clip-path: url(./assets/images/logos/cha-logo.PNG) circle(75px);
}

.micro__nombre {
  font-family: Arial, Helvetica, sans-serif;
  color: #34312d;
  margin-top: 25px;
}

.micro__portada {
  width: 100%;
}

.micro__subtitulo {
  font-family: Arial, Helvetica, sans-serif;
  color: #34312d;
  margin: 5px;
}

.micro__intro {
  font-family: Arial, Helvetica, sans-serif;
  color: #34312d;
  margin: 5px;
}

.micro__redes {
  height: 25px;
  margin-left: 10px;
  margin-bottom: 10px;
}

footer {
  background-color: #34312d;
}

.inferior {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inferior__logo {
  height: 30px;
}

.inferior__texto {
  color: #d9c5b2;
  font-family: Arial, Helvetica, sans-serif;
  margin: 25px;
}

.inferior__email {
  color: #d9c5b2;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin: 25px;
}

.redes {
  width: 30px;
  margin: 0px 5px 0px 5px;
}

.historia {
  background-color: #7e7f83;
  font-family: Arial, Helvetica, sans-serif;
  color: #34312d;
  height: 200px;
  padding: 10px;
}

.equipo {
  padding-top: 10px;
}

#equipo__titulo {
  margin-top: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #34312d;
}

.equipo__miembro {
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  background-color: #7e7f83;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #34312d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-style: italic;
  color: #34312d;
}

.equipo__miembro:hover {
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.equipo__miembro__nombre {
  margin: 10px;
}

.equipo__miembro__id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.equipo__miembro__intro {
  margin: 10px;
}

#background__trabajos, #background__productos {
  background-color: #d9c5b2;
  margin: 0;
  width: 100%;
  padding-top: 10px;
  height: calc(100vh - 75px);
}

.trabajos {
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  background-color: #7e7f83;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #34312d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.trabajos:hover {
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.trabajos__imagen, .productos__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.trabajos__titulo, .productos__titulo {
  margin: 10px;
}

.trabajos__abstract, .productos__descripcion {
  margin: 10px;
}

#background__productos {
  height: auto;
  padding: 10px;
}

.productos {
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  background-color: #7e7f83;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #34312d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.productos:hover {
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.productos__titulo {
  font-style: italic;
  color: #34312d;
}

.productos__precio {
  margin: 10px;
}

.productos__boton {
  margin: 10px;
  background-color: #34312d;
  color: #d9c5b2;
  height: 20px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

#background__contacto {
  background-color: #d9c5b2;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  padding: 1rem;
}

.form__title {
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
  color: #34312d;
}

form {
  background-color: #7e7f83;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #34312d;
  height: auto;
}

.form__boton {
  background-color: #34312d;
  color: #d9c5b2;
  height: 20px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 320px) {
  .menusuperior {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: small;
  }
  .background, .equipo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    row-gap: 10px;
    height: auto;
  }
  .micro {
    height: auto;
  }
  .inferior {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
    font-size: small;
  }
  .equipo {
    height: auto;
    padding-top: 10px;
  }
  #background__trabajos, #background__productos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
  }
  #background__productos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
  }
  #background__contacto {
    background-color: #d9c5b2;
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .menusuperior {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: small;
  }
  .background, .equipo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    row-gap: 10px;
    height: auto;
  }
  .micro {
    height: auto;
  }
  .inferior {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
    font-size: small;
  }
  .equipo {
    height: auto;
    padding-top: 10px;
  }
  #background__trabajos, #background__productos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    row-gap: 10px;
    height: auto;
  }
  #background__productos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    row-gap: 10px;
    height: auto;
  }
  #background__contacto {
    background-color: #d9c5b2;
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    padding: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .background, .equipo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    row-gap: 10px;
    height: auto;
  }
  .inferior {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
  }
  .equipo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    row-gap: 10px;
    height: auto;
  }
  #background__trabajos, #background__productos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    row-gap: 10px;
    height: auto;
  }
  #background__productos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    row-gap: 10px;
    height: auto;
  }
}

@media screen and (min-width: 992px) {
  #background__contacto {
    height: calc(100vh - 75px);
  }
  form {
    height: calc(100vh - 250px);
  }
}
/*# sourceMappingURL=style.css.map */